:root{
    --verde-principal: #62964B;
    --botao-verde: #315831;
    --cor-de-fundo: #ACCE9F;
--verde-secundario: #68AC4A;
}

body{
    background-color: var(--cor-de-fundo);
}

.container{
    height:100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.conteiner__botao{
    background-color:var(--botao-verde);
    border-radius: 5px;
    padding: 1em;
    color: #62964B;
    display: block;
}